out/
dist/
node_modules/
coverage/
npm-debug.log
yarn-error.log
app/node_modules/
.DS_Store
.awcache
.idea/
.vs/
.vscode/*.log
.eslintcache
*.iml
.envrc
junit*.xml
*.swp
tslint-rules/
app/static/logos/icon-logo-old.ico
app/static/logos/icon-logo-yellow-old.icns
app/static/logos/icon-logo-yellow-old.ico
